# Learn more about configuring your app at https://shopify.dev/docs/apps/tools/cli/configuration

client_id = "57f963f3fa680e618bfb75a444f88ab9"
name = "くいっく配送日時指定"
application_url = "https://calender-app-47zc.onrender.com"
embedded = true

[build]
automatically_update_urls_on_dev = true

[webhooks]
api_version = "2025-10"

  [[webhooks.subscriptions]]
  topics = [ "app/scopes_update" ]
  uri = "/webhooks/app/scopes_update"

  [[webhooks.subscriptions]]
  topics = [ "app/uninstalled" ]
  uri = "/webhooks/app/uninstalled"

  [[webhooks.subscriptions]]
  uri = "/webhooks/compliance"
  compliance_topics = [ "customers/data_request", "customers/redact", "shop/redact" ]

[access_scopes]
# Learn more at https://shopify.dev/docs/apps/tools/cli/configuration#access_scopes
scopes = "read_orders,write_app_proxy,write_orders,write_products"
use_legacy_install_flow = false

[auth]
redirect_urls = [ "https://calender-app-47zc.onrender.com/api/auth" ]

[app_proxy]
prefix = "apps"
subpath = "delivery-date"
url = "/proxy"
